.background       { background: #434f63;
                    table-layout: fixed;
                    border-spacing: 0;   }
.background td    { padding: 0;          }
.lava             { background: #e85404; }
.wall            { background: white;   }
.floater          { background: #81d3c3; }

.actor            { position: absolute;  }
.player           { background: #ca16f7; }
.coin             { background: #f7dd16; }
.jewel            { background: #2ca34d; }

.game {
    overflow: hidden;
    max-width: 600px;
    max-height: 450px;
    position: relative;
  }
